body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
}

.container {
    width: 100%;
}

table {
    width: 100%;
}

th {
    text-transform: capitalize;
    background: rgb(0, 255, 204);
}

td {
    padding: 2px 15px;
}

td:focus {
    background: rgb(255, 194, 0);
}

.C {
    margin: 10px auto;
}

.C > button,
.C > input,
.C > h2 {
    display: inline;
}
